@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Noto+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;1,400&display=swap");

body,
select,
option,
input {
  font-family: "Noto Serif", serif;
}

.band_font {
  font-family: "Alegreya", serif;
}

.button_font {
  font-family: "DynaPuff", cursive;
}

.body_font {
  font-family: "Merriweather", serif;
}

.p_font,
cite {
  font-family: "Noto Serif", serif;
}
